/* You can add custom CSS and extend Boostrap styles in this file. Remember, Bootstrap is just CSS at the end of the day! */
body, html {
    height: 100%;
    background-color:	#FBDEF0;
}

i {
  color: hotpink;
}

a {
  font-family: "Fredoka", sans-serif;
}

.headshot {
  height: 200px;
  border-radius: 100px;
  border: #FFB7C3 5px solid;
}

.hero-image {
  background-image: url("img/cherryblossom.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #F3F8FF;
  font-family: "Dancing Script", cursive;
  font-size: 30px;
  text-shadow: 2px 2px rgba(255,116,140,1);
} 

#mission-head {
  text-align: center;
  font-family: "Fredoka", sans-serif;
}

#mission-statement {
  font-size: 20px;
}

#keyboard {
  float: left;
  border-radius: 50px;
}

#skills-head {
  text-align: center;
  font-family: "Fredoka", sans-serif;
}

.card {
  background-color: #FBDEF0;
  border-color: #FBDEF0;
}

#contact-head {
  text-align: center;
  font-family: "Fredoka", sans-serif;
}

#contact:hover {
  color: 	#9F2B68;
}

p {
  font-family: "Fredoka", sans-serif;
  font-size: 17px;
}

#carousel-head {
  text-align: center;
  font-family: "Fredoka", sans-serif;
}

.carousel-caption {
  text-align: center;
  font-family: "Fredoka", sans-serif;
}

.footer-section {
  text-align: center;
  background-color: #FEB0CB;
  font-family: "Dancing Script", cursive;
  font-size: 20px;
  color: black;
  left: 0;
  bottom: 0;
  width: 100%;
}
#footer {
  font-family: "Dancing Script", cursive;
  font-size: 20px;
}



